<!--
<h1> Orders Accepted By You: </h1>
<div class="input_section">
	<% if @order_requests.blank? %>
	<h2>It's empty right now, but it doesn't have to be!</h2>
	<%= link_to "View Open Orders", {:controller => :order_requests, :action => :show_open} %>
	<% else %>
	<% @order_requests.each_with_index do |order_request, i| %>
	<div class="index_row clearfix">
		<h2 class="order_request_title">
		Updated <%= time_ago_in_words(order_request.updated_at) %> ago <br/>
		<%= i+1 %>.&nbsp;
    <%#= order_request.title %>
    <%= link_to order_request.title, {:controller => :order_requests, :action => :show_one_accepted, :id => order_request.id} %>
    by <%= order_request.owner.username %>
		(<%= number_to_currency(order_request.bounty) %>)
		</h2>
		<p class="order_request_sub_title"> <strong>description:</strong>
			<%= if order_request.description.blank? then "-no description given-" else order_request.description end %>
		</p>
		<% order_request.order_items.each do |order_item| %>
		<div class="order_item">
			<p><%= order_item.content %></p>
		</div>
		<% end %>
	</div>
	<% end %> -->
	<!-- TEMPORARY RESET LINK: REMOVE BEFORE SUBMISSION -->
	<!--
	<%= link_to "RESET ALL ACCEPTED ORDERS", {:controller => :order_requests, :action => :reset_accepted} %>
	<% end %>
</div>
-->

<!--  The styling of the page can be found on the application.scss-->

<!--Changed div from input_section to container to give wider view -->
<div class="container">


<div class="panel-default">
  <h1>Order I Accepted</h1>
	<% if @order_requests.blank? %>
	<h2>It's empty right now, but it doesn't have to be!</h2>
	<%= link_to "View Open Orders", {:controller => :order_requests, :action => :show_open} %>
	<% else %>

  	<table class="table table-striped table-bordered table-hover">
    	<!-- Adding the header of the table here -->
			<thead>
            <tr>
                   <th>Order <small class="text-muted">Click on the order to view the details</small></th>
                   <th>Order Description</th>

            </tr>
    	</thead>

    	<tbody>
					<% @order_requests.each_with_index do |order_request, i| %>
					<tr>
							<td>


								<%= i+1 %>.&nbsp;
								<%#= order_request.title %>
								<%= link_to order_request.title, {:controller => :order_requests, :action => :show_one_accepted, :id => order_request.id} %>
									by <%= order_request.owner.username %>
								(<%= number_to_currency(order_request.bounty) %>) <br/>
							<small class="text-muted"> Updated <%= time_ago_in_words(order_request.updated_at) %> ago </small>


						</td>
						<td>
							<%= if order_request.description.blank? then "-no description given-" else order_request.description end %>
						</td>

					</tr>

					<%end%>
  		</tbody>
  	</table>

			<!-- TEMPORARY RESET LINK: REMOVE BEFORE SUBMISSION -->
		<%= link_to "RESET ALL ACCEPTED ORDERS", {:controller => :order_requests, :action => :reset_accepted} %>
	<% end %>

</div>

<br>

</div>
