<h1> Orders Accepted By You: </h1>
<div class="input_section">
  <% if @order_requests.blank? %>
    <h2>It's empty right now, but it doesn't have to be!</h2>
    <%= link_to "View Open Orders", {:controller => :order_requests, :action => :show_open} %>
  <% else %>
    <% @order_requests.each_with_index do |order_request, i| %>
      <div class="index_row clearfix">
        <h2 class="order_request_title">
          Updated <%= time_ago_in_words(order_request.updated_at) %> ago <br/>
          <%= i+1 %>.&nbsp;<%= order_request.title %> by <%= order_request.owner.username %>
          (<%= number_to_currency(order_request.bounty) %>)
        </h2>
        <p class="order_request_sub_title"> <strong>description:</strong>
          <%= if order_request.description.blank? then "-no description given-" else order_request.description end %>
        </p>

        <% order_request.order_items.each do |order_item| %>
          <div class="order_item">
            <p><%= order_item.content %></p>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- TEMPORARY RESET LINK: REMOVE BEFORE SUBMISSION -->
    <%= link_to "RESET ALL ACCEPTED ORDERS", {:controller => :order_requests, :action => :reset_accepted} %>
  <% end %>
<div>
