<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :birthdate %>
      <%= f.date_select :birthdate%>


      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :is_mod %>
      <%= f.radio_button :is_mod, 'true', :checked => true %>
      <%= label :mod_yes, 'YES' %>
      <%= f.radio_button :is_mod, 'false' %>
      <%= label :mod_no, 'NO' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>




    <% end %>
  </div>
</div>
