<div class="input_section">
  <% @all_order_requests.each_with_index do |order_request, i| %>
    <div class="index_row clearfix">
      <h2 class="order_request_title"><%= i+1 %>.&nbsp;
        <%= order_request.title %> by <%= order_request.owner.username %>
        (<%= number_to_currency(order_request.bounty) %>)</h2>
      <p class="order_request_sub_title"> description:
        <%= if order_request.description.blank? then "-no description given-" else order_request.description end %></p>

      <% order_request.order_items.each do |order_item| %>
        <div class="order_item">
          <p><%= order_item.content %></p>
        </div>
      <% end %>

    </div>
  <% end %>
<div>
