<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <h1> Welcome,
        <%= @user.username %>
      </h1>

      <h1>This is the sample page for the user interface</h1>
      <h2>User Information</h2>


      <ul>
        <li> Username: <%= @user.username %> </li>
        <li> Email : <%= @user.email %> </li>
        <li>  First Name: <%= @user.first_name %> </li>
        <li>  Last Name: <%= @user.last_name %> </li>
        <li>  Birthdate: <%= @user.birthdate %> </li>
        <li>  Address: <%= @user.address %> </li>
        <li>  Password: <%= @user.password_digest %> </li>
        <li>  Rating: <%= @user.rating %> </li>


      </ul>



    </section>
  </aside>
</div>
