<% provide(:title, @user.username) %>
<div class="mobileview">

<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome,   <%= @user.username %> </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="panel panel-yellow">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-th-list fa-4x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">

                                      <div class="huge" style="">My Shopping</div>
                                  </div>
                              </div>
                          </div>
                          <!-- <%= link_to order_requests_path(@order_request), :class => 'panel-footer' do%> -->
                          <a href="<%= order_requests_path %>">
                              <div class="panel-footer">
                                  <span class="pull-left medi">Create New List</span>
                                  <span class="pull-right"><i class="fa fa-plus fa-2x"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                          <!-- <% end %> -->
                      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="panel panel-green">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-shopping-cart fa-4x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">

                                      <div class ="huge">My Orders</div>
                                  </div>
                              </div>
                          </div>
                          <a href="#">
                              <div class="panel-footer">
                                  <span class="pull-left medi">View My Orders</span>
                                  <span class="pull-right"><i class="fa fa-check fa-2x"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="panel panel-red">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-cloud fa-4x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">

                                      <div class="huge">Open Order</div>

                                  </div>
                              </div>
                          </div>
                          <a href="#">
                              <div class="panel-footer">
                                  <span class="pull-leftmed medi">View Open Orders</span>
                                  <span class="pull-right">  <i class="fa fa-eye fa-2x"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                      </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="panel panel-primary">
                          <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-3">
                                      <i class="fa fa-user fa-4x"></i>
                                  </div>
                                  <div class="col-xs-9 text-right">

                                      <div class="huge">My Profile</div>
                                  </div>
                              </div>
                          </div>
                          <!-- attempting to link to edit page -->
                          <a href = "/users/<%= @user.id %>/edit">
                              <div class="panel-footer">
                                  <span class="pull-left medi">Edit Profile</span>
                                  <span class="pull-right"><i class="fa fa-cog fa-2x"></i></span>
                                  <div class="clearfix"></div>
                              </div>
                          </a>
                      </div>
  </div>
</div>





  <aside class="col-md-4">
    <section class="user_info">

      <h1> Welcome,
        <%= @user.username %>
      </h1>

      <h1>This is the sample page for the user interface</h1>
      <h2>User Information</h2>


      <ul>
        <li> Username: <%= @user.username %> </li>
        <li> Email : <%= @user.email %> </li>
        <li>  First Name: <%= @user.first_name %> </li>
        <li>  Last Name: <%= @user.last_name %> </li>
        <li>  Birthdate: <%= @user.birthdate %> </li>
        <li>  Address: <%= @user.address %> </li>
        <li>  Password: <%= @user.password_digest %> </li>
        <li>  Rating: <%= @user.rating %> </li>


      </ul>



    </section>
  </aside>
</div>


</div>
