<% provide(:title, @user.username) %>
<div class="mobileview">

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Welcome,   <%= @user.username %> </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
              <i class="fa fa-th-list fa-4x"></i>
          </div>
          <div class="col-xs-9 text-right">
              <div class="huge" style="">My Shopping</div>
          </div>
        </div>
      </div>
      <!-- <%= link_to order_requests_path(@order_request), :class => 'panel-footer' do%> -->
      <!--  Directly link to create new list -->
      <a href="/order_requests/new">
        <div class="panel-footer">
          <span class="pull-left medi">Create New List</span>
          <span class="pull-right"><i class="fa fa-cloud-upload fa-2x"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
      <!-- <% end %> -->
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-list-alt fa-4x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class ="huge">My Orders</div>
          </div>
        </div>
      </div>
      <a href="<%= order_requests_path %>">
        <div class="panel-footer">
          <span class="pull-left medi">View My Orders</span>
          <span class="pull-right"><i class="fa fa-check fa-2x"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-cloud-download fa-4x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Open Orders</div>
          </div>
        </div>
      </div>
      <!-- <a href="/users/<%= @user.id %>/open_order_requests"> -->
      <a href="/order_requests/show_open">
        <div class="panel-footer">
          <span class="pull-leftmed medi">View Open</span>
          <span class="pull-right">  <i class="fa fa-eye fa-2x"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <i class="fa fa-shopping-cart fa-4x"></i>
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 text-right">
            <div class="huge" style="font-size:160%;">Accepted Orders</div>
          </div>
        </div>
      </div>
      <!-- attempting to link to edit page -->
      <!-- <a href = "edit_user_path(@user) %>"> -->
      <!-- <a href = "/users/<%= @user.id %>/accepted_order_requests"> -->
      <a href="/order_requests/show_all_accepted">
        <div class="panel-footer">
          <span class="pull-left medi" style="">View Accepted</span>
          <span class="pull-right"><i class="fa fa-usd fa-2x"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>

<h5>This is a sample graph for order created and fulfilled by the user</h5>
<p>Not implemented yet  for iteration 3 </p>
<div  id="bar-example">
</div>




<!-- </div> -->


<!-- Wil need to explore the ruby to extract the data here  -->
<script>
  new Morris.Bar({
  element: 'bar-example',
  data: [
    { y: '2006', a: 100, b: 90 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
    { y: '2011', a: 75,  b: 65 },
    { y: '2012', a: 100, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Order Created', 'Order Fulfilled']
  });
</script>
