<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1> Welcome,
        <%= @user.username %>
      </h1>

      <h1>This is the sample page for the user interface</h1>
      <h2>User Information</h2>


      <ul>
        <li>  <%= @user.username %> </li>
        <li>  <%= @user.first_name %> </li>
        <li>  <%= @user.last_name %> </li>
        <li>  <%= @user.birthdate %> </li>
        <li>  <%= @user.address %> </li>
        <li>  <%= @user.password %> </li>
        <li>  <%= @user.rating %> </li>


      </ul>



    </section>
  </aside>
</div>
